
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="container">
        <header>
            @Html.Partial("_Header")
        </header>
        @RenderBody();
        <footer>
            <p>&copy; 2019 Edwin Borda edwin.borda@outlook.com<p>
        </footer>
        <script src="~/Scripts/jquery-3.0.0.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/popper.js"></script>
        @RenderSection("Scripts", false)
    </div>
</body>
</html>
